body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.welcome {
  margin: 100px 0px;
  --font-size--: 3rem;
}
.welcome h1 {
  font-size: 3rem;
  font-weight: bold;
}
.welcome p {
  font-size: 1.5rem;
}
.welcome button {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

/* Item */
.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}
.card-body h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
